<nav class="navbar navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">
            🚗 Sistema de Estacionamiento
        </a>

        <div>

            <a href="/entrada" class="btn btn-outline-light btn-sm">
                Entrada
            </a>

            <a href="/salida" class="btn btn-outline-light btn-sm">
                Salida
            </a>

            <a href="/reportes" class="btn btn-outline-light btn-sm">
                Reportes
            </a>

        </div>

    </div>
</nav>